fastapi
uvicorn[standard]

langchain
langchain-community
langchain-pinecone
langchain-groq
langchain-huggingface
langchain-text-splitters

pinecone

sentence-transformers
pypdf

python-dotenv
pydantic
pydantic-settings
python-multipart
supabase
clerk-backend-api